.message-modal{
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.message-not-user{
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: var(--base-dark-color);
}
