.task-card-config-wrapper{
  width: 90%;
  max-width: 300px;
  display: block;
  margin: 10px auto;
  border: 2px solid var(--base-dark-color);
  padding: 10px;
  border-radius: 20px;
}
.new-task{
  color: rgba(0, 0, 0, 0.55);
  font-weight: 600;
  margin-bottom: 5px;
}
.task-card-config-title-field{
  font-weight: 600;
  margin-bottom: 3px;
}
.marker-new{
  text-align: right;
  margin-right: 10px;
}

.change-field{
  margin-bottom: 10px;
}
select{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 5px;
  margin: 5px 0;
  min-height: 25px;
  min-width: 150px;
}
.task-config-textarea{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  width: 90%;
  max-width: 300px;
}
